# OS / Editor
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.swp
*.swo


# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Testing / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Logs
*.log
logs/

# Results / artifacts (DO NOT COMMIT)
results/
runs/
outputs/
checkpoints/
weights/

# model files
*.pt
*.pth
*.ckpt
*.onnx

# TensorBoard
events.out.tfevents.*

# Weights & Biases
wandb/

# Secrets
.env
.env.*
secrets/
*.pem
*.key

# Data (DO NOT COMMIT DATASETS)
# Ignore downloaded CelebA dataset files
data/celeba/**

# Keep helper scripts inside data/ tracked
!data/__init__.py
!data/*.py

# Keep directory structure visible
!data/celeba/.gitkeep