############################
# OS / Editor
############################
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.swp
*.swo

############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

############################
# Virtual environments
############################
.venv/
venv/
env/
ENV/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Testing / Coverage
############################
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

############################
# Logs
############################
*.log

############################
# Dataset (DO NOT COMMIT)
############################
data/celeba/
data/CelebA/
data/img_align_celeba/
data/img_align_celeba.zip
data/list_attr_celeba.txt
data/list_eval_partition.txt
data/identity_CelebA.txt
data/list_bbox_celeba.txt
data/list_landmarks_align_celeba.txt

############################
# Results / checkpoints (DO NOT COMMIT)
############################
results/checkpoints/
results/logs/
results/figures/

*.pt
*.pth
*.ckpt
*.onnx

# TensorBoard
events.out.tfevents.*

# W&B
wandb/

############################
# Secrets
############################
.env
.env.*
secrets/
*.pem
*.key
